body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ebee;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1em;
  border-radius: 5px;
}
#root > .col {
  background-color: #ffffff;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}
#root > .col:first-child {
  margin-top: 0 !important;
}
.col-lg-12 > .figure {
  display: flex;
}
.col-lg-12 > .figure > img{
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
}
#fbBttons {
  border-bottom: 1px solid #ccd0d5;
  border-top: 1px solid #ccd0d5;
}
#fbBttons > .col:hover {
  background-color: rgba(29, 33, 41, .04);
}
.btn-link.btn-lg:hover {
    cursor: pointer;
    text-decoration: none;
}